@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Rubik', sans-serif;
   font-size: 10px;
   background-color: #e0e0e0;
   width: 100%;
   height: 80vh;
   color: #3b4252;
}

.main_body {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   border-radius: 12px;
   background: #e0e0e0;
   box-shadow:  12px 12px 24px #bababa,
                -12px -12px 24px #ffffff;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: auto;
   /*background-color: black;*/
   padding: 1rem 0rem;
}

header img {
   border: .7rem solid #e0e0e0;
   border-radius: 60%;
   background: #e0e0e0;
   box-shadow:  12px 12px 24px #bababa,
             -12px -12px 24px #ffffff;
}

header h1 {
   margin-top: 1rem;
}

header h3 {
   font-weight: normal;
}

main {
   display: flex;
   justify-content: center;
   width: 100%;
   height: auto;
   /*background-color: black;*/
   padding: 1rem 0rem;
}


main button {
   width: 3rem;
   height: 3rem;
   font-size: 2rem;
   margin: 0 1rem;
   border-radius: 50%;
   background: #e0e0e0;
   box-shadow:  5px 5px 12px #b3b3b3,
             -5px -5px 12px #ffffff;
   cursor: pointer;
}

.fa-twitter {
   color: #228be6;
}


.fa-facebook {
   color: #004B8D;
}


.fa-square-instagram {
   color: #FF496C;
}

footer {
   margin: .2rem 0;
}

@media (min-width: 800px) and (max-width: 1880px) {
   .main_body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30rem;
      border-radius: 12px;
      background: #e0e0e0;
      box-shadow:  12px 12px 24px #bababa,
                   -12px -12px 24px #ffffff;
   }
   
   header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      /*background-color: black;*/
      padding: 1rem 0rem;
   }
   
   header img {
      border: .7rem solid #e0e0e0;
      border-radius: 60%;
      background: #e0e0e0;
      box-shadow:  12px 12px 24px #bababa,
                -12px -12px 24px #ffffff;
   }
 }